@import '../../variables.scss';

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: $darkGrayColor;
  padding: 12px 0;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;

  .search-area {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: $lightGrayColor;
    padding: 0 5px;
    color: $lightestColor;

    input {
      margin-left: 5px;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 22px;
      text-overflow: ellipsis;
      color: $lightestColor;
      min-width: 350px;
    }
  }

  .left-navbar {
    display: flex;
  }

  .middle-navbar {
    display: flex;
    margin-right: 180px;

    & > *:hover {
      background: $lightGrayColor;
    }
    
    & > * {
      color: $lightestColor;
      margin-left: 25px;
    }
  }

  .right-navbar {
    display: flex;
    color: $lightestColor;
    margin-right: 5px;

    & > * {
      margin: 0 5px;
    }
  }
}